{% load static %}

<html>
    <head>
        <title> {{ title }} </title>
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static 'tasks/bulma.css' %}">
        {% comment %} <link rel="stylesheet" href="{% static 'tasks/custom.css' %}"> {% endcomment %}
        
    </head>

    <body>
        
        {% include "tasks/navbar.html" %}
        <h1 class="titulo">TaskMaster</h1>
        <h2 class="subtitulo">{{ title }}</h2>       

    {% block content %}

    {% endblock content %}
     
    <p id="trademark"> Copyright TaskMaster 2024</p>

    {% block javascript %}

    {% endblock javascript %}

    </body>
</html>

{% comment %} {% load static %} 
<html>

<head>
    <title> {{ title }} </title>
    <link rel="stylesheet" href="{% static 'tasks/custom.css' %}">
</head>

<body>
    <h1 class="titulo">TaskMaster</h1>
    <h2 class="subtitulo">{{ title }}</h2>
    
    <div class="fuera">
        <p class="dentro">
            contenido
        </p>
        <p class="dentro">
            contenido
        </p>
        <p class="dentro">
            contenido
        </p>
    </div>

    <div>
        <button> Activado </button>
        <button disabled> Desactivado </button>
        <a href="https://python.org">Python</a>
        <a href="https://github.com">GitHub</a>
    </div>

    <ul>
        <li>one</li>
        <li>two</li>
        <li>three</li>
        <li>four</li>
    </ul>



{% block content %}

{% endblock content %}

<p>CopyRight TaskMaster 2023</p>
</body>

</html> {% endcomment %}