
<table class="table">
    <thead>
        <tr>
            <th>Id. tarea</th>
            <th>Título</th>
            <th>Fecha de entrega</th>
            <th>Urgente</th>  
            <th>Prioridad</th>  
        </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr>
            <th>{{ task.id }}</th>
            <td>
               {% if forloop.first %}
                <b>  {{ task.title|capfirst|add:" ⚙" }} </b>
               {% else %} 
                {{ task.title  }} 
               {% endif %} 
            </td>
            <td>
                {% if task.due_date %}
                {{ task.due_date }}
                {% endif %}
            </td>
            <td>
                {% if task.urgent %}
                  <b class="urgente"> Si </b>
                {% else %}
                  <i class="no-urgente"> No </i>
                {% endif %}
            </td>
            <td>
                {{ task.priority }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>